<%= form_for(@evaluacion) do |f| %>
  <% if @evaluacion.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('errors.template.header', model: 'Evaluacion', count: @evaluacion.errors.count)%></h2>

      <ul>
        <% @evaluacion.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row"> 

    <div class="col-md-8 col-sm-6 col-xs-12">
      <div class="form-group">
        <%= f.label :turno_id %><br>
        <%= f.collection_select(:turno_id, Turno.all, :id, :numero, {}, {class: 'form-control'}) %>
      </div>
    </div>

    <div class="col-md-8 col-sm-6 col-xs-12">
      <div class="form-group">
        <%= f.label :pregunta1 %><br>
        <%= f.text_field :pregunta1, class: 'form-control' %>
      </div>
    </div>

    <div class="col-md-8 col-sm-6 col-xs-12">
      <div class="field">
        <%= f.label :resultado1 %><br>
        <%= f.number_field :resultado1, class: 'form-control' %>
      </div>
    </div>

    <div class="col-md-8 col-sm-6 col-xs-12">
      <div class="form-group">
        <%= f.label :pregunta2 %><br>
        <%= f.text_field :pregunta2, class: 'form-control' %>
      </div>
    </div>

    <div class="col-md-8 col-sm-6 col-xs-12">
      <div class="form-group">
        <%= f.label :resultado2 %><br>
        <%= f.number_field :resultado2, class: 'form-control' %>
      </div>
    </div>

    <div class="col-md-8 col-sm-6 col-xs-12">
      <div class="form-group">
        <%= f.label :pregunta3 %><br>
        <%= f.text_field :pregunta3, class: 'form-control' %>
      </div>
    </div>

    <div class="col-md-8 col-sm-6 col-xs-12">
      <div class="form-group">
        <%= f.label :resultado3 %><br>
        <%= f.number_field :resultado3, class: 'form-control' %>
      </div>
    </div>

    <div class="col-md-8 col-sm-6 col-xs-12">
      <div class="form-group">
        <%= f.label :pregunta4 %><br>
        <%= f.text_field :pregunta4, class: 'form-control' %>
      </div>
    </div>

    <div class="col-md-8 col-sm-6 col-xs-12">
      <div class="form-group">
        <%= f.label :resultado4 %><br>
        <%= f.number_field :resultado4, class: 'form-control' %>
      </div>
    </div>

    <div class="col-md-8 col-sm-6 col-xs-12">
      <div class="form-group">
        <%= f.label :resultado_total %><br>
        <%= f.number_field :resultado_total, class: 'form-control' %>
      </div>
    </div>

    <div class="col-md-8 col-sm-6 col-xs-12">
      <div class="form-group">
        <%= f.label :comentario %><br>
        <%= f.text_area :comentario, class: 'form-control' %>
      </div>
    </div>
  </div>
   <br/>
   <div class="form-group">
    <%= f.submit 'Guardar', class: 'btn btn-primary' %>
  </div>
<% end %>
