<%= form_for(@agencia) do |f| %>
  <% if @agencia.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('errors.template.header', model: 'Agencia', count: @agencia.errors.count)%></h2>

      <ul>
        <% @agencia.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row"> 

    <div class="col-md-8 col-sm-6 col-xs-12">
      <div class="form-group">
        <%= f.label :nombre %><br>
        <%= f.text_field :nombre, class: 'form-control' %>
      </div>
    </div>

    <div class="col-md-8 col-sm-6 col-xs-12">
      <div class="form-group">
        <%= f.label :direccion %><br>
        <%= f.text_field :direccion, class: 'form-control' %>
      </div>
    </div>
  </div>
    <br/>
     <div class="form-group">
      <%= f.submit 'Guardar', class: 'btn btn-primary' %>
    </div>
<% end %>