<p id="notice"><%= notice %></p>

<h4>Agencias</h4>

<table class="table table-striped table-condensed table-hover "> 
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Direccion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @agencias.each do |agencia| %>
      <tr>
        <td><%= agencia.nombre %></td>
        <td><%= agencia.direccion %></td>
        <td><%= link_to 'Mostrar', agencia %></td>
        <td><%= link_to 'Editar', edit_agencia_path(agencia) %></td>
        <td><%= link_to 'Eliminar', agencia, method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Agencia', new_agencia_path, class: 'btn btn-primary' %>
<%= link_to 'Descargar csv', agencias_path(format: :csv), class: 'btn btn-primary'%>
