<h3>Iniciar Sesión</h3>

<%= flash[:error] %>

<%= form_for :sesion, url: '/sesiones' do |f| %>

<div class="row"> 

	<div class="col-md-8 col-sm-1 col-xs-12">
		<div class="form-group">
			<%= f.label :mail %>
			<%= f.text_field :mail, class: 'form-control' %>
		</div>
	</div>

	<div class="col-md-8 col-sm-1 col-xs-12">
		<div class="form-group">
			<%= f.label :clave %>
			<%= f.password_field :clave, class: 'form-control' %>
		</div>
	</div>
</div>
<br />

<%= f.submit 'Iniciar sesión', class: 'btn btn-success' %>
<% end %>