<%= form_for(@usuario) do |f| %>
  <% if @usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('errors.template.header', model: 'Usuario', count: @usuario.errors.count)%></h2>

      <ul>
      <% @usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">

    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="form-group">
        <%= f.label :nombre %><br>
        <%= f.text_field :nombre, class: 'form-control' %>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="form-group">
        <%= f.label :apellido %><br>
        <%= f.text_field :apellido, class: 'form-control' %>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="form-group">
        <%= f.label :password %><br>
        <%= f.text_field :password, class: 'form-control' %>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="form-group">
        <%= f.label :password_confirmation %><br>
        <%= f.text_field :password_confirmation, class: 'form-control' %>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="form-group">
        <%= f.label :login %><br>
        <%= f.text_field :login, class: 'form-control' %>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="form-group">
        <%= f.label :correo %><br>
        <%= f.text_field :correo, class: 'form-control' %>
      </div>
    </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="form-group">
        <%= f.label :estado %><br>
        <%= f.number_field :estado, class: 'form-control' %>
      </div>
    </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="form-group">
        <%= f.label :agencia_id %><br>
        <%= f.collection_select(:agencia_id, Agencia.all, :id, :nombre, {}, {class: 'form-control'}) %><!--aqui se crea el combo para escoger el nombre de la agencia funciona sin parentecis-->
      </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="field">
        <%= f.label :rol %><br>
        <%= f.text_field :rol, class: 'form-control' %>
      </div>
    </div>
  </div>
      
  <br/>
   <div class="form-group">
    <%= f.submit 'Guardar', class: 'btn btn-primary' %>
  </div>
<% end %>
