<%= form_for(@turno) do |f| %>
  <% if @turno.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('errors.template.header', model: 'Turno', count: @turno.errors.count)%></h2>

      <ul>
      <% @turno.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">

    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="form-group">
        <%= f.label :numero %><br>
        <%= f.text_field :numero, class: 'form-control' %>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="form-group">
        <%= f.label :nombre %><br>
        <%= f.text_field :nombre, class: 'form-control' %>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="form-group">
        <%= f.label :asunto %><br>
        <%= f.text_field :asunto, class: 'form-control' %>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="form-group">
        <%= f.label :descripcion %><br>
        <%= f.text_area :descripcion, class: 'form-control' %>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="form-group">
        <%= f.label :hora_ingreso %><br>
        <%= f.datetime_select :hora_ingreso, class: 'form-control' %>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="form-group">
        <%= f.label :hora_atencion %><br>
        <%= f.datetime_select :hora_atencion, class: 'form-control' %>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="form-group">
        <%= f.label :hora_finalizacion %><br>
        <%= f.datetime_select :hora_finalizacion, class: 'form-control' %>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="form-group">
        <%= f.label :usuario_id %><br>
        <%= f.collection_select(:usuario_id, Usuario.all, :id, :nombre, {}, {class: 'form-control'}) %><!--aqui se crea el combo para escoger el usuario funciona sin parentecis-->
      </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="form-group">
        <%= f.label :comentario %><br>
        <%= f.text_area :comentario, class: 'form-control' %>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="form-group">
        <%= f.label :estado %><br>
        <%= f.number_field :estado, class: 'form-control' %>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="form-group">
        <%= f.label :agencia_id %><br>
        <%= f.collection_select(:agencia_id, Agencia.all, :id, :nombre, {}, {class: 'form-control'})  %><!--aqui se crea el combo para escoger la agencia funciona sin parentecis-->
      </div>
    </div>
  </div>
   <br/>
   <div class="form-group">
    <%= f.submit 'Guardar', class: 'btn btn-primary' %>
  </div>
<% end %>
