<p id="notice"><%= notice %></p>

<p>
  <strong>Numero:</strong>
  <%= @turno.numero %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @turno.nombre %>
</p>

<p>
  <strong>Asunto:</strong>
  <%= @turno.asunto %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @turno.descripcion %>
</p>

<p>
  <strong>Hora ingreso:</strong>
  <%= @turno.hora_ingreso %>
</p>

<p>
  <strong>Hora atencion:</strong>
  <%= @turno.hora_atencion %>
</p>

<p>
  <strong>Hora finalizacion:</strong>
  <%= @turno.hora_finalizacion %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @turno.usuario.nombre %>
</p>

<p>
  <strong>Comentario:</strong>
  <%= @turno.comentario %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @turno.estado %>
</p>

<p>
  <strong>Agencia:</strong>
  <%= @turno.agencia.nombre %><!--aqui se agrega .nombre para que aparezca el nombre de la agencia en mostrar-->
</p>

<%= link_to 'Editar', edit_turno_path(@turno) %> |
<%= link_to 'Atrás', turnos_path %>
