<!DOCTYPE html>
<html>
<head>
  <title>TurnosApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%=link_to 'Agencias', agencias_path%> |
	<%=link_to 'Turnos', turnos_path%> |
	<%=link_to 'Evaluaciones', evaluaciones_path%> |
	<%=link_to 'Usuarios', usuarios_path%>
	<% if @current_user %>
	Hola <%= @current_user.nombre%> |
	<%= link_to 'Salir', sesion_path(0), method: :delete %>
	<% else %>
		<%= link_to 'Ingresar', new_sesion_path %>
	<% end %>

	<%= yield %>

</body>
</html>
