<!DOCTYPE html>
<html>
<head>
  <title>TurnosApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">
				TurnosApp
			</a>
		</div>
		<ul class= "nav navbar-nav navbar-right">
			<li><%= link_to 'Agencias', agencias_path%></li>
			<li><%= link_to 'Turnos', turnos_path%></li>
			<li><%= link_to 'Evaluaciones', evaluaciones_path%></li>
			<li><%= link_to 'Usuarios', usuarios_path%></li>
			<li>
				<% if @current_user %>
					<!--Hola <%= @current_user.nombre%>-->
					<%= link_to 'Salir', sesion_path(0), method: :delete %>
				<% else %>
					<%= link_to 'Ingresar', new_sesion_path %>
				<% end %>
			</li>
		</ul>
	</div>
</nav>
			
	<div class="content">
		<%= yield %>
	</div>
</body>
</html>
